{{> header}}

<div class="row my-3">

	<div class="col text-center">
		<a role="button" class="btn btn-dark" href="/orgas/new">Ajouter
			une organisation</a>
	</div>

</div>

<div class="row bg-light border rounded py-3">
	<div class="col-1">
		<span>id</span>
	</div>

	<div class="col-4">
		<span>Name</span>
	</div>

	<div class="col-2">
		<span>Domain</span>
	</div>
	<div class="col-3">
		<span>Aliases</span>
	</div>
	<div class="col-2"></div>
</div>

{{#orgas}}

<div class="row border align-items-center py-2">

	<div class="col-1">
		<span>{{id}}</span>
	</div>

	<div class="col-4">
		<span>{{name}}</span>
	</div>

	<div class="col-2">
		<span>{{domain}}</span>
	</div>
	<div class="col-3">
		<span>{{aliases}}</span>
	</div>
	<div class="col-2">
		<button type="button" class="btn btn-primary rounded ">
			<i class="material-icons  d-flex align-items-center py-1">
				remove_red_eye </i>
		</button>
		<button type="button" class="btn btn-primary rounded ">
			<i class="material-icons  d-flex align-items-center py-1"> edit </i>
		</button>
		<button type="button" class="btn btn-danger rounded ">
			<i class="material-icons d-flex align-items-center py-1"> close </i>
		</button>

	</div>
</div>

{{/orgas}}

<div class="row bg-light border rounded ">

	<div class="col justify-content-end">

		<input class="form-control mr-sm-2 w-25" type="search"
			placeholder="Search" aria-label="Search">

	</div>
</div>
