<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Script tuning</title>
    <link rel="stylesheet"
          href="/webjars/Semantic-UI/2.4.1/semantic.min.css" />
</head>
<body>
<div class="ui secondary pointing menu">
	{{#user}}
		<a role="button" class="btn btn-dark ui item " href="/index">Connecté en tant que {{user.login}} - {{user.email}}</a>
	
	{{/user}}
	
	{{^user}}
		<a role="button" class="btn btn-dark ui item " href="/user/login">Connectez-vous</a>
	{{/user}}

	
  <div class="right menu">
    {{#user}}
		<a role="button" class="btn btn-dark ui item " href="/user/logout">Logout</a>
	{{/user}}
	
	{{^user}}
		<a role="button" class="btn btn-dark ui item " href="/user/login">Login</a>
	{{/user}}
  </div>
  
  <a class="ui animated button green" tabindex="0" href="/script/initbase">
	<div class="visible content">Initialiser BDD</div>
	<div class="hidden content">
		<i class="download icon"></i>
	</div>
</a>

<a class="ui animated button red" tabindex="0" href="/script/deletebase">
	<div class="visible content">Vider BDD</div>
	<div class="hidden content">
		<i class="trash alternate icon"></i>
	</div>
</a>

</div>

<div class="ui container">