<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Script tuning</title>
    <link rel="stylesheet"
          href="/webjars/Semantic-UI/2.4.1/semantic.min.css" />
</head>
<body>
<div class="ui secondary pointing menu">
	{{#user}}
		<a role="button" class="btn btn-dark ui item " href="/index">Connecté en tant que {{user.login}} - {{user.email}}</a>
	
	{{/user}}
	
	{{^user}}
		<a role="button" class="btn btn-dark ui item " href="/user/login">Connectez-vous</a>
	{{/user}}
  <div class="right menu">
    {{#user}}
		<a role="button" class="btn btn-dark ui item " href="/user/logout">Logout</a>
	{{/user}}
	
	{{^user}}
		<a role="button" class="btn btn-dark ui item " href="/user/login">Login</a>
	{{/user}}
  </div>
</div>

<div class="ui container">